-webkit-locale: "en";
--tw-border-spacing-x: 0;
--tw-border-spacing-y: 0;
--tw-translate-x: 0;
--tw-translate-y: 0;
--tw-rotate: 0;
--tw-skew-x: 0;
--tw-skew-y: 0;
--tw-scale-x: 1;
--tw-scale-y: 1;
--tw-pan-x: ;
--tw-pan-y: ;
--tw-pinch-zoom: ;
--tw-scroll-snap-strictness: proximity;
--tw-gradient-from-position: ;
--tw-gradient-via-position: ;
--tw-gradient-to-position: ;
--tw-ordinal: ;
--tw-slashed-zero: ;
--tw-numeric-figure: ;
--tw-numeric-spacing: ;
--tw-numeric-fraction: ;
--tw-ring-inset: ;
--tw-ring-offset-width: 0px;
--tw-ring-offset-color: #fff;
--tw-ring-color: rgb(59 130 246 / 0.5);
--tw-ring-offset-shadow: 0 0 #0000;
--tw-ring-shadow: 0 0 #0000;
--tw-shadow: 0 0 #0000;
--tw-shadow-colored: 0 0 #0000;
--tw-blur: ;
--tw-brightness: ;
--tw-contrast: ;
--tw-grayscale: ;
--tw-hue-rotate: ;
--tw-invert: ;
--tw-saturate: ;
--tw-sepia: ;
--tw-drop-shadow: ;
--tw-backdrop-blur: ;
--tw-backdrop-brightness: ;
--tw-backdrop-contrast: ;
--tw-backdrop-grayscale: ;
--tw-backdrop-hue-rotate: ;
--tw-backdrop-invert: ;
--tw-backdrop-opacity: ;
--tw-backdrop-saturate: ;
--tw-backdrop-sepia: ;
background: transparent;
border: 0;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
height: 100%;
--one-unit: 1cqw;
--cookie-banner-primary-color: #fff;
--cookie-banner-secondary-color: #000;
--cookie-banner-font-family: HelveticaNeue,Helvetica Neue,helvetica,Sans-Serif;
--cookie-banner-font-size: 14px;
--color_0: 255,255,255;
--color_44: 100,206,187;
--color_22: 141,209,202;
--color_1: 255,255,255;
--color_2: 0,0,0;
--color_3: 237,28,36;
--color_4: 0,136,203;
--color_5: 255,203,5;
--color_6: 114,114,114;
--color_7: 176,176,176;
--color_8: 255,255,255;
--color_23: 254,96,47;
--color_9: 114,114,114;
--color_10: 176,176,176;
--color_11: 0,0,0;
--color_12: 64,64,64;
--color_13: 128,128,128;
--color_14: 255,255,255;
--color_15: 255,255,255;
--color_16: 187,208,228;
--color_17: 230,199,235;
--color_18: 230,199,235;
--color_24: 43,124,116;
--color_19: 64,83,100;
--color_20: 32,42,50;
--color_25: 22,62,58;
--color_26: 244,192,175;
--color_27: 233,159,134;
--color_28: 222,80,33;
--color_29: 148,54,22;
--color_30: 74,27,11;
--color_31: 244,234,177;
--color_32: 233,219,137;
--color_33: 222,195,40;
--color_34: 148,130,27;
--color_35: 74,65,13;
--color_36: 0,0,0;
--color_37: 255,255,255;
--color_38: 64,64,64;
--color_39: 128,128,128;
--color_40: 191,191,191;
--font_0: normal normal normal 21px/1.4em fahkwang,sans-serif;
--color_45: 255,255,255;
--color_41: 230,199,235;
--color_46: 255,255,255;
--color_47: 255,255,255;
--color_48: 230,199,235;
--color_49: 230,199,235;
--color_50: 0,0,0;
--color_51: 254,96,47;
--color_52: 255,255,255;
--color_53: 255,255,255;
--color_54: 64,64,64;
--color_55: 64,64,64;
--color_56: 191,191,191;
--color_57: 0,0,0;
--color_58: 230,199,235;
--color_59: 255,255,255;
--color_42: 254,96,47;
--color_60: 254,96,47;
--color_61: 255,255,255;
--color_62: 255,255,255;
--color_63: 64,64,64;
--font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
--font_2: normal normal normal 22px/1.4em fahkwang,sans-serif;
--font_3: normal normal normal 80px/1.4em fahkwang,sans-serif;
--font_4: normal normal normal 60px/1.4em fahkwang,sans-serif;
--font_5: normal normal normal 45px/1.4em fahkwang,sans-serif;
--font_6: normal normal normal 27px/1.4em fahkwang,sans-serif;
--font_7: normal normal normal 18px/1.4em 'helvetica neue',sans-serif;
--font_8: normal normal normal 16px/1.4em 'helvetica neue',sans-serif;
--color_64: 64,64,64;
--color_21: 182,232,227;
--font_9: normal normal normal 14px/1.4em 'helvetica neue',sans-serif;
--font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
--wix-ads-height: 50px;
--wix-ads-top-height: 50px;
--site-width: 980px;
--above-all-z-index: 100000;
--portals-z-index: 100001;
-webkit-font-smoothing: antialiased;
--minViewportSize: 320;
--maxViewportSize: 1920;
--color_65: 191,191,191;
--color_43: 245,198,69;
--theme-spx-ratio: 1px;
--tooltip-text-color: white;
--tooltip-background-color: black;
--tooltip-margin: 30px;
--tooltip-arrow-size: 6px;